#Multipart API config file

debug_asm=false

#Set to true to use mc style icons for the saw instead of the 3D model
useSawIcons=false

sawArdite
{
	durability=1970
}

sawCobalt
{
	durability=2600
}

sawDiamond
{
	durability=2048
}

sawIron
{
	durability=1024
}

sawManyullyn
{
	durability=3900
}

sawStone
{
	durability=512
}
